<div id="app">
  <div class="app-nav">
    <span class="app-nav__title">Portfolio</span>
    <div class="app-nav__container">
      <div
        class="app-nav__container-button"
        v-for="page in pages"
        :key="page"
      >
        {{page}}
      </div>
    </div>
  </div>
  <div class="app-container">
    <LandingPage />
    <div class="app-values">
      <Card
        v-for="(value, index) in values"
        :title="value.title"
        :iconUrl="value.iconUrl"
        :description="value.description"
        :onLearnMoreClick="value.onLearnMoreClick"
        :key="index"
      />
    </div>
  </div>
</div>
